/* css code  */

/* reset  */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /* background-color: black; */
}
html{
    scroll-behavior: smooth;
}
/* header and navbar  */

header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.459);
    align-items: center;
    height: 69px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.logo img{
    height: 4rem;
    width: 4rem;
    margin: 10px;
}
.navbar ul{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
  
}
nav ul a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    margin: 30px;
    font-size: 1.5rem;
}
nav ul a:hover,nav ul a:active{
    background-color: white;
    color: black;
    border-radius: 23px;
}

/* Home page  */


.home::before{
    background: url('/imgs/spaghetti-1932466_1920.jpg') no-repeat center center/cover;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    z-index: -1;
    /* opacity: 0.8; */
    background-color: black;
}
.home {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.home h3{
    color: white;
    font-size: 4rem;
}
.home p{
    color: white;
    font-size: 1rem;
    text-align: center;
}
.home .btn{
    background-color: rgb(255, 161, 20);
    border: 1\2px solid black;
    border-radius: 25px;
    font-size: 1.5rem;
    margin: 50px;
    height: 60px;
    width: 170px;
    transition: 0.25s;  
}
.home .btn:hover{
    height: 70;
    width: 200px;
    font-size: 2rem;
    color: white;
    background-color: yellowgreen;
    
}

/* services scetion  */
#services{
    display: flex;

}

#services .box img{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    
}
#services .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;
    border: 2px solid chocolate;
    margin: 25px 15px;
    padding: 10px;
    border-radius: 25px;
    transition: 0.25s;
}
#services .box:hover{
    transform: scale(1.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;
    border: 2px solid rgb(104, 253, 17);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    
}
.serv{
    text-align: center;
    font-size: 3rem;
    margin: 0px 20px;
}

/* contact section   */
#contact::before{
    content: "";
    position: absolute;
    
    background: url('/imgs/strawberries-99551_1920.jpg');
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.5;
}
#contact h2{
    font-size: 3rem;
    margin: 10px;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact .box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;;
}

#contact .box input{
    outline: none;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.596);
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    height: 25px;
    width: 350px;
    border: 1px solid rgb(0, 225, 255);
    transition: 0.25s;
}
#contact .box input:hover{
    border: 2px solid rgb(0, 255, 42);
    width: 400px;
}
 input[type=submit]{
    color: white;
    border: none;
    background: rgb(25, 171, 255);
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    /* border: 1px solrgb(0, 4, 255)55); */
    transition: 0.25s;
}
input[type=submit]:hover{
    background: chartreuse;
    width: 400px;
    color: black;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
   
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
    top: 60px;
}

@media all and (max-width: 1000px){

    *body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .navbar ul a{
        margin: 5px;
    }
    
    .home .btn{
        margin: 20px;
    }
}

@media all and (max-width: 900px){
    .home::before{
        width: 1000px;
    }

    .header{
        width: 1000px;
    }
    .home {
        width: 1000px;
    }
    .serv{
        width: 1000px;
    }
    #services{
        width: 1000px;
    }
    #contact::before{
        width: 1000px;
    }
    #contact{
        width: 1000px;
    }
    footer{
        width: 1000px;
    }
}
@media all and (max-width: 500px){
    #services{
        display: flex;
        flex-direction: column;
    }
}
